# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/Pathtracer/cmake-build-debug-visual-studio
/Pathtracer/cmake-build-release-visual-studio
/Pathtracer/out
/Pathtracer/.vs
*.idea

sponza_big.mtl
sponza_big.obj

car.obj

testScene_2.obj

bistro.obj
bistro2.obj

combined02.obj

/Pathtracer/Includes/sponza_tex/*
